.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 80px 40px 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
  position: relative;
  top: 30px;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  max-width: 709px;
  position: relative;
  top: 183px;
  left: 80px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  position: relative;
  top: 183px;
  left: 80px;
  margin-top: 28px;
  font-family: "Not Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  max-width: 568px;
  max-height: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__schedule {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  font-family: "inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  display: flex;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 80px 215px;
}

.recipes__title {
  color: #ffffff;
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  color: white;
  font-family: "Not Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px 0;
}

.recipes__videos {
  display: flex;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  width: 480px;
  border: 0;
  justify-content: space-between;
  row-gap: 24px;
  flex-direction: column;
}

.recipes__iframe {
  border: none;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  align-items: center;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.reservation__title {
  margin: 0px auto 80px;
  padding-top: 100px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__input {
  height: 60px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
  margin: 0 0 32px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.form__button {
  margin-bottom: 32px;
  max-width: 385px;
  height: 60px;
  width: 100%;

  border-radius: 4px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin-top: 32px;
  border-radius: 2px;
}

.form__checkbox-input {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

.form__checkbox-label {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 120px;
  box-sizing: border-box;
  column-gap: 12px;
}
